
.container {
  position: relative;
}

/* to fix image position */
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border-radius: 50%
}

/* to write text over image */
.textblock {
  position: absolute;
  bottom: 23%;
  right: 45%;
  color: white;
}